.screen {
  background-image: url("shim_back_ground.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
}

.title {
  text-align: left;
  margin-top:0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5%;
  padding-right: auto;
  color: black;
  background-color: #99ff33;
  font-size: 50px;
}

.subTitle {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  background-color: black;
  color: #99ff33;
  margin-left: 10px;
  margin-right: 10px;
}

.input {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  text-align: center;
  font-size: 30px;
}

.createUser {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
