body {
  text-align: center;
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 4px 5px 20px white;
  background-size: cover;
  background: url(http://gzsihai.com/data/out/207/im-502763014.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: darken;
}

.title {
  font-size: 75px;
  color: red;
  border-bottom: 2px solid black;
}

input, select {
  font-size: 25px;
}

input:focus, select:focus {
    box-shadow: 4px 5px 20px red;
}
