/*home.css*/
.title {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  background-color: darkblue;
  margin-top: 0px;
  padding: 20px 50% 10px 20px;
  border: 3px solid black;
}

.heading {
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  background-color: Bisque;
  margin-top: 40px;
  margin-left: 50px;
  padding: 20px 30% 10px 20px;
  border: 3px solid black;
}

.link {
	/*
  margin-right: 30px;
  text-decoration-color: black;
  background-color: Bisque;
  */
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

body {
  background: url("bikebackground.jpg");
  background-size:100%;
}

