/*home.css*/
.title {
  color: white;
  font-family: Helvetica;
  font-weight: bold;
  background-color: darkblue;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 20px 50% 10px 20px;
  position: fixed;
  text-align: center;
  border: 3px solid black; 
}

.heading {
  color: black;
  font-family: Helvetica;
  font-weight: bold;
  background-color: Bisque;
  margin-left: 50px;
  padding: 20px 30% 10px 20px;
  position: fixed;
  text-align: center;
  border: 3px solid black; 
}

a {
	text-decoration-color: black;
    background-color: Bisque;
}

body {
 /* background: url("bikebackground.jpg");
  background-size:100%;*/
}

