<!DOCTYPE html>
<html>
<head>
	<title>Operation Result</title>
	<link rel="stylesheet" type="text/css" href="stylesheets\mail.css">
</head>
<body>
	<p class='title'>Shipping Cost</p>
	<p>The cost to ship <%= type %> that weights <%= weight %> oz. is $<%= result %></p>
</body>
</html>
