/* Team01 Style Sheet */
h1 {
  margin-top: 0px;
  background-color: #FFCB9C;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 3px solid black;
}

#one {
   font-size: 15px;
   background-color: blue;
}

#two {
   font-size: 15px;
   background-color: blue;
}

#three {
   font-size: 15px;
   background-color: blue;
}

div:hover {
   font-weight: bold;  
}